.topNavBarContainer {
  display: flex;
  justify-content: space-between;
}
.bottomNavBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.searchNavBar {
  width: 200px;
  height: 40px;
}

.hover {
  cursor: pointer;
}

.sortimentText{
  display: flex;
  justify-content: center;
}

.assortmentYarn{
  width: 90%;
  height: 100%;
  border: solid 2px green;
}

.assortmentContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5%;
}
.assortmentContainer2{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 5%;
}
.productSiteContainer3{
  margin-top: 200px;
}

.productAlbumImg{
  height: 65px;
  width: 65px;
}

.productSiteContainer0{
  display: grid;
  grid-template-columns: 210px auto auto;
  margin-top: 5%;
}
.productSiteContainer2{
  display: grid;
  grid-template-columns: 210px auto auto;
  margin-top: 5%;
}
.bordered{
  border: dashed 2px orange;
}

.button {
  background-color: rgb(248, 247, 247);
  border: black solid 1px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

img{
  width: 200px;
  height: 200px;
}

.ProductPicture{
  width: 50px;
  height: 50px;
}

table,
tr,
td,
th {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td,
th {
    padding: 4px;
}

th {
    background-color: darkblue;
    border: 1px solid darkblue;
    color: white;
}

tr:nth-child(even) {
    background: antiquewhite;
}


/* Styling for the button */
.button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color:rgb(178, 187, 196);
}

/* Styling for the alert number */
.alert-number {
  
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}