.topNavBarContainer {
  display: flex;
  justify-content: space-between;
}
.bottomNavBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.searchNavBar {
  width: 200px;
  height: 40px;
}

.hover {
  cursor: pointer;
}

.sortimentText{
  display: flex;
  justify-content: center;
}

.assortmentYarn{
  width: 90%;
  height: 100%;
  border: solid 2px green;
}

.assortmentContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5%;
}
.assortmentContainer2{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 5%;
}


.bordered{
  border: dashed 1px orange;
}